.juxt-header {
    margin-bottom: 40px;
}

.juxt-div {
    margin-left: 50px;
}

a {
    color: white;
}

.news-card  {
    background: #3E4EB8;
    width: 150px;
}

h2.mdl-card__title-text {
    color: white;
}
